<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sudoku</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <a href="/"><h1>Sudoku</h1></a>
        <div><a href="/logout"><%= name %></a></div>
    </header>
    