<%- include('header', {name: name}); %>
<div class="container">
<a href = "/file-upload"><input class="Submit" type="button" value="File Upload"></a>
<a href = "/newgame"><input class="Submit" type="button" value="Try Random"></a>
</div>
<%- include('footer') %>