<%- include('header', {name: name}); %>
<div class = "container">
<a href="/mode"><input class="Submit" name="newgame" type="submit" value="New Game"></a>
<a href="/continue"><input class="Submit" name="continue" type="submit" value="Continue"></a>
</div>
<%- include('footer') %>